{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">FastBall</h1>
            <p class="lead fw-normal text-white-50 mb-0 text-uppercase">Information
            </p>
        </div>
    </div>
</header>
<div class="container text-center mt-3 mb-3 ">
    <h2 class="h3 fw-bolder">Welcome To FastBall</h2>
    <div class="row mb-5">
        <div class="col-md-6">
            <h3 class="h5 fw-bold">Information</h3>
            <p class="fw-semibold">This website is not a real store. You can not order from here. This website was made
                as a school project
                and was developed only as a school project. I hope that you will enjoy watching the beautiful football,
                maybe sign up and comment on some footballs
                also and football respect each other in the comment section.</p>
        </div>
        <div class="col-md-6">
            <h3 class="h5 fw-bold ">The FastBall Team</h3>
            <p class="fw-semibold">The founder of FastBall is Balen Nouri and is also the only worker at the company
                right now.
                But we are looking for new workers. If you are sports lover and love football and want to work with high
                quality balls, don't be shy and get in touch with us. We will gladly invite you for an interview.</p>
        </div>
    </div>
    <hr>
    <div class="row mb-5">
        <div class="col-md-6">
            <h4 class="h5 fw-lighter">Customer service</h4>
            <p class="fw-lighter">- Email: fastball@customers.se</p>
            <p class="fw-lighter">- Address: Sweden, Uppsala, Kantorsgatan 16</p>
        </div>
        <div class="col-md-6">
            <h4 class="h5 fw-lighter">Get In Touch</h4>
            <p class="fw-lighter">- Email: fastball@neworkers.se</p>
        </div>
    </div>
</div>

{% endblock %}