{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
        </div>
    </div>
</header>
<div class="container">
    <br><br>
    <div class="row">
    </div>
    <div class="col-md-6 offset-md-3">
        <h5>INFO: Before placing the order read this below</h5>
        <p>1. Write your first name</p>
        <p>2. Write your phone number</p>
        <p>3. One from our team will contact you in 30 minutes</p>
        <p>4. You will get asked how you want to make the payment for your order and where you want your package
            to get dropped off</p>
            <br>
        <form method="POST" action="{% url 'checkout' %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Place The Order</button>
        </form>
        <br>
        <figure>
            <blockquote class="blockquote">
                <p>NOTE: This is a school project!!</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite>Nobody will call you and ask for your details, This is just for school</cite>
            </figcaption>
            <figcaption class="blockquote-footer">
                <cite>Thank You For Visiting The Page</cite>
            </figcaption>
        </figure>
        <br /><br />
    </div>
</div>
</div>

<br /><br />

{% endblock %}