{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
        </div>
    </div>
</header>
<div class="container">
    <br><br>
    <div class="col-md-6 offset-md-3">
        {% if user.is_authenticated %}
        <h2 class="h5">INFO: Before placing the order read this below</h2>
        <ul class="list-unstyled">
            <li>
                <p>1. Write your phone number</p>
            </li>
            <li>
                <p>2. One of our team members will contact you</p>
            </li>
            <li>
                <p>3. We will contact you between 12.00 - 14.00 on weekdays</p>
            </li>
            <li>
                <p>4. You will get asked how you want to make the payment for your order and where you want your package
                    to get dropped off</p>
            </li>
        </ul>
        <h2 class="h5">NOTE: This is a school project!!</h2>
        <ul class="list-unstyled">
            <li>
                <p>Nobody will call you and ask for your details, This is just for school</p>
            </li>
            <li>
                <p>Thank You For Visiting The Page</p>
            </li>
        </ul>
        <form method="POST" action="{% url 'checkout' %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-success">Place The Order</button>
        </form>

        {% else %}

        <div class="text-center">
            <p>You must be logged in to place a order, Please sign up or login</p>
            <a href="{% url 'register' %}" class="btn btn-success">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
        <br><br><br><br>

        {% endif %}

        <br /><br />
    </div>
</div>

{% endblock %}