{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 text-center">
                <br /><br /><br /><br />
                <div class="card-body">
                    <h2 class="fw-bolder h5">{{ product.name }}</h2>
                    <p class="card-text">{{ product.description }}</p>

                    {% if product.is_sales %}

                    <div class="d-flex justify-content-center small text-success mb-2">
                        <div class="bi-star-fill text-success"></div>
                        &nbsp;&nbsp;On Sale!&nbsp;&nbsp;
                        <div class="bi-star-fill text-success"></div>
                    </div>
                    <!-- Product price-->
                    <p class="text-decoration-line-through">${{ product.price }}</p>
                    ${{ product.sales_price }}

                    {% else %}

                    ${{ product.price }}

                    {% endif %}

                    <br><br>
                    <div class="row justify-content-center">
                        <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" id="cart-qty">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                    <button type="button" value="{{ product.id }}" class="btn btn-success" id="add-cart">Add To
                        Cart</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3 class="h5">Add Comments ({{ comment_num }})</h3>
    <hr>
    <br>

    {% if not product.comments.all %}

    <p>No comments added yet... Be the firts one to comment!</p>
    <a href="{% url 'add-comment' product.pk %}" class="btn btn-primary">Add Comment</a>
    <br>

    {% else %}

    <a href="{% url 'add-comment' product.pk %}" class="btn btn-primary">Add Comment</a>
    <br><br>

    {% for comment in product.comments.all %}

    <p><strong>{{ comment.commenter_name }} - {{ comment.date_added }}</strong></p>
    <p>{{ comment.commenter_body }}</p>
    <hr>

    {% endfor %}

    {% endif %}
    <br>
</div>

<script>
    // Check if button is pressed, Checks for product id and qty to put it in the cart
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'Post',
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#cart-qty option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                document.getElementById("cart_quantity").innerHTML = json.qty;
                location.reload();
            },
            error: function (xhr, errmsg, err) {

            }
        });
    });
</script>

{% endblock %}