{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder text-uppercase">Sign up</h1>
            <p class="lead fw-normal text-white-50 mb-0">Sign Up, And Get More Benefits!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br /><br />
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                {{ form.as_p }}

                    <ul class="form-text text-muted small">
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters. </li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                <button type="submit" class="btn btn-secondary">Sign Up</button>
            </form>
            <br>
            <p>If you already have a account click the button below</p>
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
        </div>
    </div>
</div>

{% endblock %}